.light-mode {
    background-color: #fff;
    color: #000;
}

/* Estilos para el modo oscuro */
.dark-mode {
    background-color: #333;
    color: #fff;
}


#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: space-between; /* Asegura que los elementos se distribuyan uniformemente */
}

.item {
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(33% - 20px); /* Ajusta el ancho para 3 elementos por fila, considerando el padding y margin */
    box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho */
}
.btn {
   
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-green {
    background-color: green;
    color: white;
}

.btn-red {
    background-color: red;
    color: white;
}

.btn-delete {
    float: right;
}

.btn-reset{
    float: right;
    background-color: aqua;
    color: black;
}
.numeros {
    display: block;
}

span {
    display: inline-block;
    margin-right: 5%;
    margin-bottom: 20px;
    font-size: 20px;
}
p {
    margin-top: 0;
    font-size: 20px;
}
body {
    font-family: "Lato", sans-serif;
    
}

input {
    color: #fff;
    margin-bottom: 15px;
    font-size: 1.25rem;
    line-height: 1;
    border-style: none;
    outline: none;
    width: 88%;
    padding: 0.8em 1em;
    border: 0.25em solid transparent;
    background-image: linear-gradient(#000, #000),
    linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 1.8em;
    background-size: 200% 100%;

}
@media only screen and (max-width: 800px) {
    /* Estilos para dispositivos móviles con ancho máximo de 480px */

    /* Cambiar display del contenedor a block */
    #container {
        display: block;
    }

    /* Ajustar tamaño de los botones .btn a 35px */
    .btn {
        width: 35px !important;
        height: 35px !important;
        font-size: 14px !important; /* Opcional: ajustar el tamaño de la fuente si es necesario */
    }
    
    .item {
    
        width: auto; /* Ajusta el ancho para 3 elementos por fila, considerando el padding y margin */
      
    }
}